@charset "utf-8";

body{min-width:980px;}

/*헤더*/
#herader{min-width:980px}
.utilwrap{border-bottom: 1px solid ;}
.util{width:980px; margin: 0 auto;}
.umenu{width:330px; float:right; }
.umenu li {float:left; padding:0 10px; position: relative; }
.umenu li:last-child{padding-right: 0;}
.umenu li a{display: block; line-height:35px; font-size:12px;}
.umenu li:after{
    content:"";
    position:absolute; width:1px; height:10px;
    background: #00f; right:0; top:12px;
}
.umenu li:last-child:after{content: ""; display: none;}

#header h1{text-align: center;} 

.gnbwrap{background: #1d5da4;}
.gnbmenu{width:980px; margin: 0 auto;}
.gnbmenu li {float:left; width:calc(100% / 6); border-left: 1px solid #fff;}
.gnbmenu li:last-child{border-right: 1px solid #fff;}

.gnbmenu a {display: block; line-height: 40px; text-align: center; color: white}
.gnbmenu a:hover{color: #e2e979; background:#00f}

/*visualwrap*/

.visualwrap{
    overflow: hidden;
    height:400px;
    /*
    background-color: #223a6a;
    background-image: url(../images/main_bg01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    */
    background: #223a6a url(../images/main_bg01.jpg) no-repeat center;

}

.visual{width:980px; height: 400px; margin:0 auto; position: relative;}
.visual .vimg1, 
.visual .vimg2{position: absolute; }
.visual .vimg1{right:0; top:-10px;}
.visual .vimg2{left:0; top:76px;}

/*section*/
.section {background: #eee;}
.banner{width:980px; margin:0 auto;}
.banner li{float:left; width:calc(100% / 5); padding-top:10px;}
.banner li a{display:block; height:196px; text-align:center; color:white;}
.banner li:nth-child(1){background: #7c99b9;}
.banner li:nth-child(2){background: #6ba3e1;}
.banner li:nth-child(3){background: #4d627a;}
.banner li:nth-child(4){background: #4a95e7;}
.banner li:nth-child(5){background: #182430;}

/*cont 1st*/
.contwrap1st {width: 980px; margin: 0 auto;}
.contwrap1st li {
    float: left; width: 310px; margin-right:25px;}
.contwrap1st li:last-child{margin-right:0;}
.contwrap1st .body{
    
    padding:10px 10px 20px 20px;
    border: 1px solid #ccc;
    border-top:0 none;
}

.contwrap1st img {display: block;}

/*cont 2st*/
.contWrap2st {width: 980px; margin:0 auto; }
.contWrap2st li {
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    float: left;
    width: 310px;
    margin-right: 25px;
    padding: 20px;
}
.contWrap2st li:last-child{margin-right:0;}
.contWrap2st img{position: absolute; right:-50px;}
.contWrap2st .body{width:150px;}
.contWrap2st .body a{font-size:14px; color:#4b8ce0;}


/*footer*/
#footer{background: #eee;}
.footerTopWrap{background: #ccc;} 
.footerTop{width:980px; margin:0 auto; }
.footerTop ul {float: left; }
.footerTop li{float: left; position: relative; }
.footerTop li a{display: block; padding:0 20px; line-height:40px; }
.footerTop li:first-child a{padding-left:0;}
.footerTop li:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    background: #000;
    right: -1px;
    top: 20px;
}
.footerBottom{width: 980px; margin: 0 auto;padding: 20px 0;}
.footerBottom h3{float: left; margin-right:10px;}
.footerBottom .copy{float: left;}



/*comon*/
#mb5{margin-bottom: 5px;  !important;}
#mb10{margin-bottom:10px; !important;}
#mb15{margin-bottom:15px; !important;}
#mb20{margin-bottom:20px; !important;}






